<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tickets &mdash; MineRIP Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body style="height: 100vh;">
<%- include('../partials/Navbar.ejs') %>

<div class="container content">
    <h1 class="title is-1">My Tickets <span><a href="/support/create" class="button is-rounded is-success">Create</a></span></h1>
    <table class="table">
        <thead>
        <tr>
            <th><abbr title="Position">#</abbr></th>
            <th><abbr title="Nig">Title</abbr></th>
            <th><abbr title="Played">Created</abbr></th>
            <th><abbr title="Won">Responded</abbr></th>
            <th><abbr title="Drawn">Status</abbr></th>
        </tr>
        </thead>
        <tbody>
            <% for (var index in tickets) { %>
            <tr>
                <th><a href="/support/<%= tickets[index]._id %>"><i class="fas fa-eye"></i></a></th>
                <td><%= tickets[index].title %></td>
                <td><span data-tooltip="<%= moment(tickets[index].date).format('Do of MMMM YYYY, HH:ss A'); %>"><%= moment(tickets[index].date).fromNow() %></span></td>
                <td>
                    <% if (tickets[index].reply && Object.keys(tickets[index].reply).length !== 0 && !tickets[index].reply['_']) { %>
                        <span data-tooltip="<%= moment(tickets[index].reply.date).format('Do of MMMM YYYY, HH:ss A'); %>"><%= moment(tickets[index].reply.date).fromNow() %></span>
                    <% } else { %>
                        N/A
                    <% } %>
                </td>
                <td>
                    <% if (tickets[index].reply && Object.keys(tickets[index].reply).length !== 0 && !tickets[index].reply['_']) { %>
                        <span class="tag"><%= tickets[index].reply.tag %></span>
                    <% } else { %>
                        Open
                    <% } %>
                </td>
            </tr>

            <% } %>
        </tbody>
    </table>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>