<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Replying to <%= author.username %>'s <%= config[ticket.type] %> &mdash; MineRIP Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/flash.css" rel="stylesheet">

    <script>
        function createEditors() {
            for (const el in document.getElementsByClassName("editorinstance")) {
                ClassicEditor.create(document.getElementsByClassName("editorinstance")[el])
                    .catch(console.error);
            }
        }
    </script>

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body onload="createEditors();" style="height: 100vh;">
<%- include('../partials/Navbar.ejs') %>

<div class="container content">
    <h1 class="title is-1">Replying to <span style="color: #d506dc;"><%= author.username %>'s <%= config[ticket.type].name %></span></h1>
    <small>If the user's name does not resolve in-game, check their name history. They may have changed their name without syncing</small>
    <hr>
    <form method="POST" action="/support/reply/<%= ticket._id %>">
        <textarea class="editorinstance" name="reason" id="reply"></textarea>
        <br>

        <select class="input" name="tag">
            <% for (var balls in config[ticket.type].replies) { %>
                <option><%= config[ticket.type].replies[balls].name %></option>
            <% } %>
        </select>
        <br> <br>

        <button class="button is-success" type="submit">
            <span><i class="fas fa-check"></i></span>
            <span style="padding-left: 5px;">Submit</span>
        </button>
    </form>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>

</body>
</html>