<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= user.username %>'s <%= config[ticket.type].name %> &bull; PvPBeach Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body>
<%- include('../partials/Navbar.ejs') %>

<div class="container content">
    <h1 class="title is-2" style="color: #fff;"><%= user.username %>'s <%= config[ticket.type].name %></h1>
    <div class="columns">
        <div class="column is-one-quarter">
            <aside>
                <div class="box" style="background-color: rgb(35,35,35);">
                    <h1 class="title is-5" style="color: #fff;">Ticket Information</h1>
                    <hr>
                    <p class="subtitle" style="color: #fff;">
                        <strong style="color: #fff;">Category</strong> <%= config[ticket.type].name %>
                        <br> <strong style="color: #fff;">Created</strong> <span data-tooltip="<%= moment(ticket.date).format('Do of MMMM YYYY, HH:ss A'); %>"><%= moment(ticket.date).fromNow() %></span>
                    </p>
                </div>

                <% if (req.user.uuid === ticket.author) { %>
                    <div class="box" style="background-color: rgb(35,35,35);">
                        <h1 class="title is-5" style="color: #fff;">Ticket Controls</h1>
                        <hr>
                        <div class="buttons">
                            <a href="/support/delete/<%= req.params.id %>" class="button is-danger">
                                <span style="padding-right: 5px;">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span>Delete</span>
                            </a>
                            <a href="/support/edit/<%= req.params.id %>" class="button is-link">
                                <span style="padding-right: 5px;">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                                <span>Edit</span>
                            </a>
                        </div>
                    </div>
                <% } %>

                <% if (rankcfg.ranks.find(r => r.id === req.user.rank).permissions.includes('TICKETS_ADMIN') || rankcfg.ranks.find(r => r.id === req.user.rank).permissions.includes('TICKETS_MODERATE') || rankcfg.ranks.find(r => r.id === req.user.rank).permissions.includes('*')) { %>
                    <div class="box" style="background-color: rgb(35,35,35);">
                        <h1 class="title is-5" style="color: #fff;">Ticket Moderation</h1>
                        <hr>
                        <div class="buttons">
                            <a href="/support/reply/<%= ticket._id %>" class="button is-primary">
                                <span style="padding-right: 5px;">
                                    <i class="fas fa-paper-plane"></i>
                                </span>
                                <span>Reply</span>
                            </a>
                        </div>
                    </div>
                <% } %>
            </aside>
        </div>
        <div class="column is-three-quarters">
            <% for (var index in ticket.fields) { %>
                <label for="" class="label" style="color: #fff;"><%= ticket.fields[index].question %></label>
                <p><p class="subtitle" style="color: #fff;"><%- ticket.fields[index].body %></p></p>
            <br>
            <% } %>
        </div>
    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
</body>
</html>