<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home &bull; PvPBeach Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/staff.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- begin embed -->
    <meta property="og:title" content="PvPBeach Network">
    <meta property="og:description" content="Taking Practice to the next level">
    <meta property="og:url"  content="https://pvpbeach.com">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/949111822445846648/992245916260118608/Untitled2601121.png">
    <meta name="theme-color" content="#D229CF">
    <!-- end embed -->

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body>
<%- include('./partials/Navbar.ejs') %>

<div class="container">
    <br>
    <br>
    <div class="box header coolio has-text-centered" style="background-position: center;">
        <h1 class="title is-1" style="color:white; font-family: 'Outfit', sans-serif; letter-spacing: 1.5px;">
            <strong style="font-weight: 800;">PvPBeach Network</strong>
<!--            <span class="tag is-success is-large">-->
<!--                0/1000-->
<!--            </span>-->
        </h1>
        <p class="subtitle" style="color:white;">
            Practice, taken to the next level.
        </p>
    </div>
    <br>
    <% news.forEach(post => { %>
        <div class="box news" style="background-color: rgb(35,35,35)">
            <div class="columns">
                <div class="column is-1 has-text-centered">
                    <img style="width: 50px;" src="https://crafatar.com/renders/body/<%= post.author %>?overlay=true" alt="shit">
                </div>
                <div class="column is-11">
                    <div class="container" id="<%= post.id %>" style="color: #fff;">
                        <% if (req.isAuthenticated()) { %>
                        <h1 class="title is-2" style="color: #fff;"><%= post.title %> <a onclick="like('<%= post.id %>')" id="<%= post.id %>-upvoteparent" style="color: <%= post.likes.includes(req.user.uuid) ? 'green' : 'lightgray' %>; font-size: 20pt;"><i class="fas fa-thumbs-up"></i> <span id="<%= post.id %>-upvote"><%= post.likes.length %></span></a></h1>
                        <% } else { %>
                        <h1 class="title is-2" style="color: #fff;"><%= post.title %> <a data-tooltip="You must be logged in to do this." id="<%= post.id %>-upvoteparent" style="color: lightgray; font-size: 20pt;"><i class="fas fa-thumbs-up"></i> <span id="<%= post.id %>-upvote"><%= post.likes.length %></span></a></h1>
                        <% } %>
                            <p class="subtitle" style="color: #fff;">written <span data-tooltip="<%= moment(post.datee).format('Do of MMMM YYYY'); %>"><%= moment(post.datee).fromNow() %> </span>by <%= post.authorname %></p>
                        <hr>
                        <p class="subtitle" style="color: #fff;"><%- post.body %></p>
                    </div>
                </div>
            </div>
            <a class="button is-block is-dark" style="background: url('/img/bg-primary.png'); background-position-y: -1px;" href="/post/<%= post.id %>">Read the full post</a>
        </div>
    <% }) %>
    <br>
    <br>

    <!-- <div class="client box epicticketshit" style="background: #636363;">
        <div class="container">
            <div class="columns">
                <div class="column is-9">
                    <h1 class="title is-3" style="font-weight: 800; letter-spacing: 2.5px; color: white;">LOOKING FOR PvPBeach Client?</h1>
                    <p class="subtitle" style="font-weight: 600; color: white;"><a style="color: #bbbbbb;" href="/client">Click here</a> to discover a client-side anticheat modpack of your dreams.</p>
                </div>
                <div class="column is-3">
                    <img class="spinnymcgee" src="/img/client.png" alt="logo" style="width: 70px; float: right;">
                </div>
            </div>
        </div>
    </div> -->

    <br>
    <br>
</div>

<%- include('./partials/Footer.ejs') %>

<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
<script src="/js/PostHelper.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</body>
</html>
