<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Settings &bull; PvPBeach Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- begin embed -->
    <meta property="og:title" content="PvPBeach Network">
    <meta property="og:description" content="Taking Practice to the next level">
    <meta property="og:url"  content="https://pvpbeach.com">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/949111822445846648/992245916260118608/Untitled2601121.png">
    <meta name="theme-color" content="#D229CF">
    <!-- end embed -->

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body style="height: 100vh;">
<%- include('./partials/Navbar.ejs') %>

<div class="container content">
    <div class="settings">
        <div class="columns">
            <div class="column is-7">
                <div class="box" style="background-color: rgb(35,35,35);">
                    <h1 class="title is-2 has-text-centered">
                        <span style="color: #fff;">
                            <i class="fas fa-cogs"></i>
                        </span>
                        <span style="color: #fff;">Account Settings</span>
                    </h1>
                    <hr>
                    <h1 class="title is-4" style="color: #fff;">Connections</h1>
                    <form method="POST" action="/api/v1/connections">
                        <p class="control has-icons-left">
                            <input value="<%= getConnection(req, 'twitch') %>" name="twitch" style="font-family: 'Raleway', serif !important;" type="text" class="input" placeholder="twitch.tv/...">
                            <span class="icon is-small is-left"><i class="fab fa-twitch"></i></span>
                        </p>
                        <p class="control has-icons-left">
                            <input value="<%= getConnection(req, 'twitter') %>" name="twitter" style="font-family: 'Raleway', serif !important;" type="text" class="input" placeholder="twitter.com/...">
                            <span class="icon is-small is-left"><i class="fab fa-twitter"></i></span>
                        </p>
                        <p class="control has-icons-left">
                            <input  value="<%= getConnection(req, 'github') %>" name="github" style="font-family: 'Raleway', serif !important;" type="text" class="input" placeholder="github.com/...">
                            <span class="icon is-small is-left"><i class="fab fa-github"></i></span>
                        </p>
                        <p class="control has-icons-left">
                            <input  value="<%= getConnection(req, 'youtube') %>" name="youtube" style="font-family: 'Raleway', serif !important;" type="text" class="input" placeholder="youtube.com/...">
                            <span class="icon is-small is-left"><i class="fab fa-youtube"></i></span>
                        </p>
                        <p class="control has-icons-left">
                            <input value="<%= getConnection(req, 'reddit') %>" name="reddit" style="font-family: 'Raleway', serif !important;" type="text" class="input" placeholder="reddit.com/u/...">
                            <span class="icon is-small is-left"><i class="fab fa-reddit"></i></span>
                        </p>
                        <button class="button is-block is-success" style="font-weight: bolder; letter-spacing: 1.2px; font-family: 'Raleway', serif !important;">SAVE</button>
                    </form>

                    <hr>
                    <h1 class="title is-4" style="color: #fff;">Bio</h1>
                    <form method="POST" action="/api/v1/bio">
                        <p class="control has-icons-left">
                            <input value="<%= user.bio %>" name="bio" style="font-family: 'Raleway', serif !important;" type="text" class="input" placeholder="Explain a little bit about yourself...">
                            <span class="icon is-small is-left"><i class="fas fa-address-card"></i></span>
                        </p>
                        <button class="button is-block is-success" style="font-weight: bolder; letter-spacing: 1.2px; font-family: 'Raleway', serif !important;">SAVE</button>
                    </form>
                </div>
            </div>
            <div class="column is-5">
                <div class="box" style="background-color: rgb(35,35,35);">
                    <h1  class="title is-2 has-text-centered">
                        <span style="color: #fff;">
                            <i class="fas fa-user-shield"></i>
                        </span>
                        <span style="color: #fff;">Security & Privacy</span>
                    </h1>
                    <hr>
                    <h1 class="title is-4" style="color: #fff;">Change your password</h1>
                    <form action="/auth/password" method="POST">
                        <p class="control has-icons-left">
                            <input required name="current" style="font-family: 'Raleway', serif !important;" type="password" class="input" placeholder="Your current password">
                            <span class="icon is-small is-left"><i class="fas fa-fingerprint"></i></span>
                        </p>
                        <p class="control has-icons-left">
                            <input required name="new" style="font-family: 'Raleway', serif !important;" type="password" class="input" placeholder="Your new password">
                            <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
                        </p>
                        <p class="control has-icons-left">
                            <input required name="new2" style="font-family: 'Raleway', serif !important;" type="password" class="input" placeholder="Confirm your new password">
                            <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
                        </p>
                        <button class="button is-block is-success" style="font-weight: bolder; letter-spacing: 1.2px; font-family: 'Raleway', serif !important;">SAVE</button>

                    </form>
                </div>
                <div class="box" style="background-color: rgb(35,35,35);">
                    <h1 class="title is-2 has-text-centered">
                        <span style="color: #fff;">
                            <i class="fas fa-server"></i>
                        </span>
                        <span style="color: #fff;">Data Management</span>
                    </h1>

                    <a href="/data/request" class="button is-link is-block">Request your data</a>
                    <br>
                    <div class="columns">
                        <div class="column">
                            <a href="/data/disable" class="button is-warning is-block">Disable your account</a>
                        </div>
                        <div class="column">
                            <a href="/data/delete" class="button is-danger is-block">Delete your account</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <br>
    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
</body>
</html>